.about-container {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Distribute space evenly between items */
  gap: 20px; /* Create gap between child elements */
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem 4vw;
}

.text {
  flex: 1; /* Allow text to grow and take available space */
  padding: 20px;
  background-color: #ddd;
  border: 8px solid white;
  border-radius: 30px;
  margin-right: 100px;
  margin-left: 50px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.image img {
  max-width: 100%;
  max-height: 700px;
}
