@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap");

/* Styling for the header container */
.header {
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1rem 4vw;
  font-family: "Chivo", sans-serif;
}

/* Styling for the logo container */
.logo-container {
  display: flex;
  align-items: center;
}

/* Styling for the logo */
.logo {
  width: 90px;
}

/* Styling for the logo name */
.logo-name {
  font-weight: 700;
  font-size: 40px;
  color: white;
}

/* Styling for the navigation list */
.nav-list {
  list-style: none;
  margin: 0;
  display: flex;
}

/* Styling for each navigation list item */
.nav-list li {
  margin-left: 20px;
}

/* Styling for navigation links */
.nav-list li a {
  color: white;
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
}

/* Styling for navigation links on hover */
.nav-list li a:hover {
  text-decoration: underline;
}
