.hero-video-container {
  display: flex;
  justify-content: center;
  padding: 1rem 4vw;
  margin-bottom: 40px;
}

.hero-video {
  max-width: 90%;
  height: 90%;
  border: 7px solid white;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
