.recipes-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.recipe-video-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.recipe-video {
  width: 1000px; /* Set the width of the video */
  height: 600px; /* Set the height of the video */
  border: 7px solid black;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  margin-bottom: 50px;
}

p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 100px;
}

ul {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 100px;
}

/* Style for the ordered list */
ol {
  /* Your styles for the <ol> element */
  padding-left: 0;
  text-align: center;
  margin-bottom: 200px;
}

/* Style for the list items */
ol li {
  display: block;
  line-height: 2;
  font-weight: 600;
}



/* Style for the button container */
.button-container {
  margin-left: 100px;
}

/* Style for the button */



.button {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  max-width: 90%;
  margin-bottom: 100px;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
